@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 58%;
  }
  .govuk-header__content {
    width: 42%;
  }
}

.person-thumbnail {
  border: 1px solid black;
}

.contact-detail a {
  position: relative;
  top: -11px;
  left: 1em;
}
ul, li {
  margin-top: 1.5em;
}

.govuk-header__container {
  position: relative;
  margin-bottom: -9px !important;
  padding-top: 10px;
  border-bottom: 10px solid #1d70b8;
}

.govuk-header__menu-button {
  position: relative;
  top: auto;
  right: auto;
  margin-bottom: 0.5em;
  padding: auto;
}

span.govuk-header__logotype-text {
    font-size: 26px;
}

hr {
  margin-top: 2em;
}

.govuk-header__logo {
  padding-right: 0;
}

strong.phase-nonprod {
  background: #df0606;
}

code {
    background: #efefef;
    border: #efefef;
    border-radius: 0.3em;
    padding: 0 0.2em;
}

.back-button {
  margin-top: 2em;
}
